<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mongoose</a>
    <div class="navbar-nav"></div>
        <a class="nav-link" href="/">HOME</a>
        <a class="nav-link" href="../flights">ALL FLIGHTS</a>
        <a class="nav-link" href="../flights/new">ADD FLIGHTS</a>
    </div>
</nav>