<%- include ../partials/header.ejs %> 
<%- include ../partials/nav.ejs %>

<h1>Create a Ticket</h1>

<form action="/flights/<%= flight._id %>/tickets/new" method="POST">
    <label>Seat:
        <input name="seat" required pattern="[A-F][1-9]\d?" value="Must be 'A1' thru 'F99'">
    </label><br>
    <label>Price:
        <input name="price">
    </label><br>
    <input type="submit" class="btn btn-primary" value="Add Ticket">

</form>

<%- include ../partials/footer.ejs %>