<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/flights">ALL FLIGHTS</a></li>
          <li><a href="/flights/new">ADD FLIGHTS</a></li>
  
      </ul>
  </nav>
    <h1>Mongoose Flights</h1>
    <p>Welcome to Mongoose Flights</p>
  </body>
</html>
